.section-title,
.section-subtitle {
    text-align: center;
    display: block;
    width: 100%;
}

.skills__container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    width: 350px;
    text-align: center;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens */
    row-gap: 1rem; /* Espaçamento entre os itens */
}

.skills__data {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.skills__icon {
    color: var(--icon-color); /* Adicione a cor desejada para os ícones */
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    color: var(--text-color); /* Adicione a cor desejada para o texto */
}

/*========== BREAKPOINTS ==========*/
/* For large devices */
@media screen and (min-width: 992px) {
    .skills__container {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
  
/* For medium devices */
@media screen and (max-width: 576px) {
    .skills__container {
        flex-direction: column;
        align-items: center;
    }

    .skills__content {
        padding: 1.5rem;
        width: 100%; /* Ajuste a largura para caber na tela */
    }
}
  
/* For small devices */
@media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}
